footer{
    width: 100%;
    background: #f135f1;
    color: white;
    padding: 20px 40px;
    font-family: 'Tajawal', sans-serif;
   
   
  
}
footer h4{
   padding: 10px 20px;
   font-size: 1.08em;
   
}
footer p{
    margin-top: 10px;
    text-align: center;
    font-size: 1.08em;
    
 }