


.success-msg{
    width: 100%;
    padding: 14px;
    background-color: #dff0d8;
    color: #468847;
    text-align: center;
  }
  
  .error-msg{
    width: 100%;
    padding: 14px;
    background-color: #f0d0d3;
    color: #df786f;
    text-align: center;
  }
  